
*.ascd
examplekaggle/
pickle/temp/
pickle/cat236_257.pk
pickle/cat1_50.pk
pickle/cat101_150.pk
pickle/cat151_200.pk
pickle/cat201_235.pk
pickle/cat258_279.pk
pickle/cat280_320.pk
pickle/cat321_360.pk
pickle/cat361_406.pk
pickle/cat51_100.pk
